{% extends "base.html" %}


{% block content %}
    <div class="jumbotron text-center">
        <h1>Follow</h1>
    </div>

    <div class="container">
        <div class="row">
            {% for user in user_list %}
                <div class="col-sm-4">
                    <h3>{{ user.username }}</h3>
                    {% if user in following %}
                        <button class="btn btn-success follow-btn" data-id="{{ user.id }}">Unfollow</button>
                    {% else %}
                        <button class="btn btn-success follow-btn" data-id="{{ user.id }}">Follow</button>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
    {#    <script>#}
    {#        var name = {{  }};#}
    {#    </script>#}
{% endblock %}